name: Code Standards, Unit Tests, Race Trace Detection

on:
  push:
    branches: [ "main" ]

  pull_request:
    branches: [ "main" ]

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.24.x]
        os: [ubuntu-latest]
    defaults:
      run:
        working-directory: go/src/github.com/syniol/rock-paper-scissors-lizard-spock
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v3
        with:
          path: 'go/src/github.com/syniol/rock-paper-scissors-lizard-spock'
      - name: Run Vet
        run: |
          go vet ./...
      - name: Run Lint
        run: |
          go install golang.org/x/lint/golint@latest
          golint .
      - name: Run Tests
        run: |
          go test -v ./...
      - name: Run Tests with Race Detector
        run: |
          go test -v -race ./...
